.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background: black;
  background: url('./space.gif') no-repeat center center fixed; 
  background-size: cover;
}

.bg div {
  position: absolute;
}
