.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(156deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.image {
  width: 246px;
  height: 198px;
  margin-left: 18px;
}

.image img {
  width: inherit;
  height: inherit;
  /*Stop chrome from making images blurry*/
  image-rendering: -webkit-optimize-contrast;
}

.frame {
  width: 282px;
  min-width: 282px;
  height: 396px;
  min-height: 396px;
  background-image: url(./frame.png);
  z-index: 1;
}

.dropdown {
  width: 100%;
  height: 58px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.dropdown select {
  width: 181px;
}

.title {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  display: flex;
  color: black;
  justify-content: center;
}

.buttons {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

#left,
#right {
  width: 45px;
  min-width: 45px;
  height: 32px;
  border: 0;
  box-shadow: none;
  padding: 0px;
}
#left:focus,
#right:focus,
#close:focus {
  outline: none;
}
#left {
  background-image: url(./leftButtonSprite.png);
  background-position: top left;
  margin-right: 8px;
}
#left:active {
  background-position: top right;
}
#right {
  background-image: url(./rightButtonSprite.png);
  background-position: top left;
  margin-left: 8px;
}
#right:active {
  background-position: top right;
}
#launch {
  background-image: url(./launcher.gif);
  width: 39px;
  min-width: 39px;
  height: 44px;
  min-height: 44px;
  z-index: 1;
}
.launcher {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.launcher label {
  margin: 5px;
  font-size: 14px;
  color: white;
}
.closeOk {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 46px;
}
#close {
  background-image: url(./closeButtonSprite.png);
  height: 46px;
  min-height: 46px;
  width: 45px;
  min-width: 45px;
  background-position: top left;
  margin-right: 13px;
  border: 0;
  box-shadow: none;
  padding: 0px;
}
#close:active {
  background-position: top right;
}
#ok {
  background-image: url(./okButtonSprite.png);
  height: 47px;
  min-height: 47px;
  width: 47px;
  min-width: 47px;
  background-position: top left;
  border: 0;
  box-shadow: none;
  padding: 0px;
  margin-right: 4px;
}
#ok:active {
  background-position: top right;
}
.bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.bg div {
  position: absolute;
}

#links a {
  margin: 10px;
  color: white;
  font-size: 14px;
}
#links span {
  color: white;
  font-size: 14px;
}
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
#title {
  color: white;
  font-size: 14px;
}
